.rotate {
	margin-top: 20px;
	margin-bottom: 30px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	border-radius: 12px;
		-moz-box-shadow: 4px 4px 14px #000;
		-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;
		-moz-transform:rotate(20deg);
		-webkit-transform:rotate(20deg);
		-o-transform:rotate(20deg);
		-ms-transform:rotate(20deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
} 

iframe {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 600px;
	height: 600px;
}