#kiwi {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 426px;
	height: 240px;
	border: solid 2px red;
}

#glokar {
	position: absolute;
	top: 20px;
	left: 450px;
	width: 360px;
	height: 480px;
	border: solid 2px green;
}

#randomquote {
	position: absolute;
	top: 265px;
	left: 20px;
	width: 426px;
	height: 240px;
	border: solid 2px green;
}