.black-and-white {
	border: 2px solid #3A8378;
	background-color: #DECDB1;
	color: #3A8378;
}


.dotted {
	border: 8px dotted red !important;
}


.shadow {
	box-shadow: 10px 10px 5px 0px rgba(58,131,120,0.75);
}